/*
List-style-type
standard = decimal = 1. 2. 3. 4.
upper-roman: I. II. III. etc
lower-roman: i ii iii, etc

upper-alpha: A B C D, etc
lower-alpha: a b c d etc

weietere Style Types:
https://developer.mozilla.org/de/docs/Web/CSS/list-style-type

*/

ol {
    list-style-type: lower-alpha;
}

.child_ol {
    list-style-type: upper-roman;
}

/*
standard = ausgefüller kreis = disc
square = Viereck
none = keins

weietere Style Types:
https://developer.mozilla.org/de/docs/Web/CSS/list-style-type


*/
ul {
    list-style-type: square;
}

/* Verinfachte Schreibweise von der CSS Formatierung der Liste in einer Liste*/
ul ul {
    list-style-type: disc;
}

/* Verinfachte Schreibweise von der CSS Formatierung der Liste in einer Liste, einer Liste*/
ul ul ul {
    list-style-type: decimal;
}
/* Verinfachte Schreibweise von der CSS Formatierung der p  Tag innerhalb einer Liste, spart Klassen und Listen ein, ist aber auf persönlichen Vorlieben gedacht*/
ul p {
    color: green;
}

/*Es können auch eigene Bilder als List-style-types
genommen werden. 
WICHTIG: auf die Größe achten*/
.eigen {
    list-style-image: URL("../Bilder/Liste/list_style.png");
}