/*
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: green;
}

*/

nav {
    border: 1px solid black;
    background-color: lightgray;
    width: 50%;
}

nav ul{
    list-style-type: none;
    margin-left: -40px;
}

nav ul li {
    display: block;
}

nav ul li:hover {
    background-color: lightslategrey;
}

nav a {
    text-decoration: none;
    color: black;
    display: block;
}

nav a:hover {
    text-decoration: none;
    color: black;
    display: block;
}

