.table_01_table {
        border: 5px solid red;
        text-align: right;
        font-family: Arial, Helvetica, sans-serif;
    }

.table_01_th {
        width: 100px;
        background-color: blue;
        color: white;
        text-align: right;
        font-family: Arial, Helvetica, sans-serif;
        order: 1px solid black;
    }

.table_01_th_tv {
        background-color: red;
        color: white;
        text-align: right;
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid black;
    }

.table_01_td_LO {
        background-color: grey;
        color: white;
        text-align: right;
        font-family: Arial, Helvetica, sans-serif;
        order: 1px solid black;
    }

.table_01_td {
        background-color: none;
        text-align: right;
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid black;
    }

.table_02_table {
        border: 1px solid black;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

.table_02_th {
    background-color: black;
    color: white;
}

.table_02_td {
    border: 1px solid black;
}

.table_03_table {
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.table_03_th {
    background-color: blue;
    color: white;
    border: 1px solid black;
}

.table_03_td_sub_th {
    background-color: grey;
    color: white;
    border: 1px solid black;
}

.table_03_td {
    border: 1px solid black;
}

.table_03_td_green {
    background-color: green;
    color: white;
    border: 1px solid black;
}

.table_03_td_orange {
    background-color: orange;
    border: 1px solid black;
}

.table_04_table {
    text-align: center;
}

.table_05_table {
    border: 3px solid red;
    background-color: gold;
    padding: 10px;
}

.table_05_th {
    border: 1px solid white;
    background-color: red;
    color: white;
}

.table_05_td_red {
    border: 1px dotted #ffffff;
    color: #ff0000;
}

.table_a {
    color: white;
}

.table_06_table {
    text-align: center;
}

.table_06_th {
    background-color: blue;
    color: white;
}

.table_06_td_bright {
    background-color: grey;
}

.table_06_td_dark {
    background-color: lightgray;
}

.table_07_table {
    background-color: grey;
    border: 1px solid black;
}

.table_07_td_red {
    width: 50px;
    height: 50px;
    background-color: red;
    color: red;
}

.table_07_td_white {
    width: 50px;
    height: 50px;
    background-color: white;
    color: white
}

.table_07_td_grey {
    border: 1px solid black;
}


.table_08_blue {
    width: 50px;
    height: 50px;
    background-color: blue;
}

.table_08_yellow {
    width: 50px;
    height: 50px;
    background-color: yellow;
}